<!-- Les variables peuvent être affichées grace aux {{  }} -->
<h1> {{ titre }} </h1>
<h2> Ceci est l'application de {{ username }} </h2>

<div>

    Je veux afficher cet élément tout le temps

</div>

<!-- Quand je click, j'appelle toggleAutorisation de ma classe AppComponent -->
<!-- De plus je ne met la classe activate que si autorisation=true -->
<button [class.activate]="autorisation" (click)="toggleAuthorisation()" > {{ button }} le mot secret </button>

<!-- Si ma variable autorisation est true, élément s'affiche -->
<div *ngIf="autorisation" >

    Je veux afficher cet élément si j'ai l'autorisation : {{ mot_secret }}

</div>

<h3> Mes jeux : </h3>
<app-games></app-games>

<div class="fixed">
    <app-games></app-games>
</div>